
<main>
<form action="/addStudent" method="post">
    <input id="id" type="hidden" name="id">
    <label for="lastname">Nom</label>
    <input type="text" id="lastName" name="lastName" placeholder="Dubois" required />

    <label for="firstName">Prénom</label>
    <input type="text" id="firstName" name="firstName" placeholder="Jean-Louis" required />
  
    <label for="birthDate">Date de naissance</label>
    <input type="date" id="birthDate" name="birthDate" required />

    <label for="idCard">Numéro de carte d'identité</label>
    <input type="number" id="idCard" name="idCard" placeholder="X4RTBPFW4" required />

    <input type="submit" value="Envoyer">
  </form> 
</main>



