<%- include("_head") -%>
<%- include("_header") -%>

    
<main>
<form action = "/deleteStudent/<%= studentDelete.idStudents %>" method="post">
    <input id="id" type="hidden" name="id" value="<%= studentDelete.idStudents %>" >

    <label for="lastname">Nom:</label>
    <input type="text" id="lastName" name="lastName" placeholder="Dubois"  value="<%= studentDelete.lastName %>" />

    <label for="firstame">Prénom:</label>
    <input type="text" id="firstName" name="firstName "placeholder="Jean-Louis"  value="<%= studentDelete.firstName %>" />
  
    <label for="birthDate">Date de naissance:</label>
    <input type="date" id="birthDate" name="birthDate"  value="<%= studentDelete.birthDate %>" />

    <label for="idCard">Numéro de carte d'identité:</label>
    <input type="text" id="idCard" name="idCard" placeholder="X4RTBPFW4"  value="<%= studentDelete.idCard%>" />
    

    <input type = "submit" value="Supprimer" />
</form>


