<%- include("_head") -%>


  <%- include("_header") -%>
<main>
<h1>Liste des etudiants (<%= Students.length %>)</h1>
            <table id="studentTable">
                <thead>
                  <tr>
                    <th id="lName">
                      Nom
                    </th>
                    <th id="fName">
                      Prenom
                    </th>
                    <th id="bDate">
                        Date de naissance
                    </th>
                    <th id="age">
                      Age
                    </th>
                    <th id="iCard">
                        Numero Carte Identité
                    </th>
                    
                    <th>Actions</th>
                    
                  </tr>
                </thead>
                  <tbody id="tableau">
                    <% for (const student of Students) { %>
                        <tr>
                            <input style="visibility : hidden" value="<%= student.idStudents %>">
                            <td><%= student.lName %></td>
                            <td><%= student.fName %></td>
                            <td><%= student.bDate %></td>
                            <td><%= student.age %></td>
                            <td><%= student.iCard %></td>
                           
                            <td><a href="/updateForm/<%= student.idStudents %>" class="btn btn-primary">Modifier</a>
                            <a href="/deleteStudent/<%= student.idStudents %>" class="btn btn-primary">Supprimer</a></td>
                        </tr>
                    <% } %>
                  </tbody>
                </table>
                 </main>
                
              <%- include("_footer") -%>
          
