<%- include("_head") -%>
<%- include("_header") -%>
<body>
    
<main>

    <h2>Modifier un étudiant</h2>
<form action = "/updateStudent/<%= studentUpdate.idStudents %>" method="post">
    <input id="id" type="hidden" name="id" value="<%= studentUpdate.idStudents %>" >

    <label for="lastname">Nom</label>
    <input type="text" id="lastName" name="lastName" placeholder="Dubois"  value="<%= studentUpdate.lName %>"/>

    <label for="firstame">Prénom</label>
    <input type="text" id="firstName" name="firstName" placeholder="Jean-Louis"  value="<%= studentUpdate.fName %>"/>
  
    <label for="birthDate">Date de naissance</label>
    <input type="date" id="birthDate" name="birthDate"  value="<%= studentUpdate.bDate %>"/>

    <label for="idCard">Numéro de carte d'identité</label>
    <input type="number" id="idCard" name="idCard" placeholder="X4RTBPFW4"  value="<%= studentUpdate.iCard%>"/>
    

    <input type = "submit" value="Modifier" >
</form>
</main>
<%- include("_footer") -%>


